body  {
    background-color: lightblue;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    margin:10% 20%;
  }
  
  h1{
    float:left;
  }
  
  .picRight{
    margin-left:15px;
  }
  
  .exp-header{ 
    border-top: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
    
  }