* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

.header_container {
    display: flex;  
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: lightgray;
  
  
}

/* h1 and avatar html elements css rules starts here */
.name {
    display: flex;
}

.name h1 { 
    font-size: 50px;
    padding: 30px;
    color:black;          
}

.name img {
    width:150px; height: 150px;    
}
/* h1 and avatar html elements css rules ends here */


/* nav links starts here */

.links {
   list-style-type: none;
   display: flex;      
}


.space{
    padding: 50px;    
}
/* nav links end here */



/* css rules for subtitle starts here */


.subtitle {
    background-image: url("../assests/images/blackandwhite.jpg");
    height: 100px;
}

 .subtitle h2 { 
    font-style: italic;
    font-size: 40px;
    color:black;
    text-align: right;
    padding: 30px;
   
}
 
/* css rules for subtitle ends here */




h3 {
    font-size: 30px;
    padding: 20px;
    border-right: 5px solid blue;
    width: 20%;
    text-align: end;   
}

#Work h3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

/*  About me css rules starts here */
.about_me  { 
    display: flex;
      
}

.about_me p {
    justify-content: center;
    width: 80%;
}

/* About me css rules ends here */


/* Work main section starts here */

#Work {
    display: flex; 
    flex-wrap: wrap;
}

.hp  {
    background-color: lightgray;
    color: black;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid blue;
    background-color: red;
    min-height: 200px;
    flex-basis: 48%;
    margin-bottom: 5px;
    margin-left: 5px;
    
}

.flex-item:first-child {
    min-height:300px ;
    flex-basis: 96%;
    
}
#Horiseon {
    background-image: url(../assests/images/project1.jpg);
    background-size: cover;
    height: 500px;
}

#RunBuddy {
    background-image: url(../assests/images/project2.jpg);
}

#Shopify {
    background-image: url(../assests/images/project3.jpg);
}
/* Work mail secion ends here */



/* contact me  main section  starts here */

.contact_me {
    display: flex;
    flex-wrap: wrap;
      
}

.contact_me p {
    margin: 20px 10px 20px 20px

}

.footer {
    display: flex; 
    align-items: center; 
    
}

/* contact me main section  ends here */

/* @media  screen and (max-width: 375px) { 
    #About {
        flex-wrap: wrap;
        margin: 1000px;
        background-color: green;
    }

}*/